@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

#myInput {
	background-image: url('/css/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}
.inpt {
	background-image: url('/css/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
}
.tab {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
}

#myTable th, #myTable td {
	text-align: left;
	padding: 12px;
}

#myTable tr {
	border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
	background-color: #f1f1f1;
}
#myTable11 th, #myTable11 td {
	text-align: left;
	padding: 12px;
}

#myTable11 tr {
	border-bottom: 1px solid #ddd;
}

#myTable11 tr.header, #myTable11 tr:hover {
	background-color: #f1f1f1;
}



body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

/*Css for tabs*/
body {
  padding : 2px ;
  
}


#exTab2 h4 {
  color : black;
  background-color: inherit;
  
  padding : 5px 5px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

