<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PageController</servlet-name>
  	<display-name>PageController</display-name>
  	<description></description>
  	<servlet-class>controllers.dropdownControllers.PageController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCaseController</servlet-name>
  	<display-name>TestCaseController</display-name>
  	<description></description>
  	<servlet-class>controllers.dropdownControllers.TestCaseController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NavigationGraphController</servlet-name>
  	<display-name>NavigationGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.NavigationGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PageLoadGraphController</servlet-name>
  	<display-name>PageLoadGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.PageLoadGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecurityQuestions</servlet-name>
  	<display-name>SecurityQuestions</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.SecurityQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PageController</servlet-name>
  	<url-pattern>/PageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCaseController</servlet-name>
  	<url-pattern>/TestCaseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NavigationGraphController</servlet-name>
  	<url-pattern>/NavigationGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PageLoadGraphController</servlet-name>
  	<url-pattern>/PageLoadGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecurityQuestions</servlet-name>
  	<url-pattern>/SecurityQuestions</url-pattern>
  </servlet-mapping>
</web-app>
